@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: medium;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#quotation {
  position: relative;
  width: 67%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#login {
  width: 33%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}

#quote {
  position: absolute;
  top: 55%;
  left: 32px;
  right: 32px;
  color: white;
  font-size: xx-large;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.484);
}

#name {
  position: absolute;
  bottom: 32px;
  left: 32px;
  left: 5%;
  right: 5%;
  color: white;
  font-size: medium;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.484);
}

#name > span {
  font-size: small;
}

.logo {
  position: absolute;
  width: 60px;
  aspect-ratio: 1;
  z-index: 1;
  top: 32px;
  left: 32px;
}

.logo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.gallery-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  bottom: 32px;
  right: 32px;
  text-align: center;
  cursor: pointer;
}

.arrow {
  min-width: fit-content;
  max-width: min-content;
  display: flex;
  justify-content: space-around;
  border-radius: 1em;
  padding: 8px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  font-size: x-large;
  color: white;
  aspect-ratio: 1 / 1;
}

/* Форма авторизации */

h1 {
  font-size: x-large;
}
form {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 24px;
}

button {
  background: #222;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 12px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

input {
  border: 0;
  border-bottom: solid 1px lightgray;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 8px 0;
  text-align: left;
  width: 100%;
  margin-bottom: 12px;
}

input::placeholder {
  color: grey;
  font-weight: 200;
}

input:focus {
  color: #222;
  border-bottom: solid 1px darkcyan;
  outline: 0;
}
.comment {
  font-size: smaller;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #666;
}

.comment a {
  font-weight: 500;
  color: #666;
}

.comment a:visited {
  color: #666;
}

.comment a:hover {
  color: darkcyan;
}
