.container {
  margin: 0 auto;
  @include x-large {
    width: 1170px !important;
  }
  @include big-screen {
    width: 992px !important;
  }
  @include medium-screen {
    width: 100% !important;
    padding: 32px;
  }
  @include small-screen {
    width: 100% !important;
    padding: 16px;
  }
  @include x-small {
    width: 100% !important;
    padding: 16px;
  }
}

.margin-btm {
  margin-bottom: 72px;

  @include medium-screen {
    margin-bottom: 48px;
  }
  @include small-screen {
    margin-bottom: 36px;
  }
}
