* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 24px;
  }
  
  .light-mode {
    background-color: whitesmoke;
    color: #202020;
  }
  
  .dark-mode {
    background-color: #202020;
    color: whitesmoke;
  }

  .container {
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 6px;
    padding: 12px 0 0 0;
  }

  form {
    display: flex;
    justify-content: space-around;
    gap: 6px;
  }

  li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 6px;
  }
  
  input,
  button,
  select {
    border: 1px solid lightseagreen;
    border-radius: 10px;
    padding: 10px;
  }
  
  button {
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
  }

  input {
    width: 100%;
  }

  select {
    color: gray;
  }

  .lightbtn {
    background-color: white;
    color: lightseagreen;
  }

  .itemCounter {
    font-size: small;
    color: gray;
  }
  
  ul {
    list-style: none;
    margin: 24px 0 0 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  li:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  