.container {
  margin: 0 auto;
  @include x-large {
    width: 1170px !important;
    margin-bottom: 84px;
  }
  @include big-screen {
    width: 992px !important;
    margin-bottom: 72px;
  }
  @include medium-screen {
    width: 100% !important;
    margin-bottom: 48px;
    padding: 32px;
  }
  @include small-screen {
    width: 100% !important;
    padding: 16px;
  }
  @include x-small {
    width: 100% !important;
    padding: 16px;
  }
}
