// text-colors
$nav-link: #fff;
$text-color: #81afdd;

// bg-colors
$body-bg: #040c18;
$blue-bg: #042c54;
$header-input: #052956;
$btn-bg: #ff4820;
$gradient: linear-gradient(
  90deg,
  rgba(174, 103, 250, 1),
  rgba(244, 152, 103, 1)
);
