.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include medium-screen {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  &__text {
    @include medium-screen {
      order: 2;
    }

    .text-l {
      width: 99%;
      margin: 24px 0;
    }
    form {
      margin-top: 36px;
      margin-bottom: 36px;
      display: flex;
      input {
        background-color: $header-input;
        color: #3d6184;
        border: none;
        outline: none;
        border-radius: 6px 0 0 6px;
        padding: 12px 18px;
        font-size: 18px;
        width: 50%;
        @include small-screen {
          font-size: 14px;
          width: 65%;
        }
        &:focus {
          background-color: lightblue;
        }
      }
      .btn {
        border-radius: 0 6px 6px 0;
        @include small-screen {
          font-size: 14px;
          width: 35%;
        }
      }
      @include medium-screen {
        margin: 24px auto;
      }
    }
    .people {
      display: flex;
      align-items: center;
      gap: 6px;
      &-text {
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          color: $nav-link;
          @include small-screen {
            font-size: 12px;
          }
        }
      }
      &-img {
        img {
          width: 90%;
          @include medium-screen {
            width: 80%;
          }
        }
      }
    }
  }

  &__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 90%;
      @include medium-screen {
        width: 60%;
      }
      @include small-screen {
        width: 50%;
      }
    }
  }
}
